<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>The X Revolt</name>

    <description>
        Aplicación dedicada para aquellos gamers que necesitan de una guía sencilla y útil. 
    </description>

    <author href="http://www.thexrevolt.com" email="wallsjericho@gmail.com">
        The X Revolt: Andrés García, Santiago Jurado, Sergio Brand, Zully Riaño, Jorge Baquen.
    </author>
	
	<icon src="icon.png" />
	<gap:splash src="splash.png" />

</widget>
